* {
	box-sizing: border-box;
}

html{
	min-height: 100vh;
}

body {
	margin: 0;
	background: radial-gradient(#84c322,#244f21);
}

.page-title{
	color:white;
	font-family: Helvetica, sans-serif;
	font-weight:normal;
	text-align: center;
	font-size:6em;
}

.game-info-container {
	grid-column: 1/-1;
	display:flex;
	justify-content:space-between;
}

.game-info{
	color: #244f21;
	font-size:4em;
}

.card {
	background-color: white;
	height: 175px;
	width:125px;
	border-radius:3px;
}

.card-front{}

.card-back{}

.game-container {
	display:grid;
	grid-template-columns: repeat(4, auto);
	grid-gap:10px;
	margin: 50px;
	justify-content:center;
}

